<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <link rel="stylesheet" href="/public/login window.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">

</head>
<body>

    <h1 class="title"><a href="http://localhost:3000/" style="text-decoration: none;">Board GamerZ</a></h1>

    <div class="container">

        <div class="jumbotron" id="main-box">

            <h1 class="display-4" id="title">로그인</h1>

            <table class="game-contents" style="width: 450px;">
                <tbody>
                    <tr>
                        <th scope="row" style="font-size: 36px; width: 150px;">아이디</th>
                        <td style="text-align: right;"><input type="text" id="id" placeholder="id" style="width: 100%; height: 50px;"></td>
                    </tr>
                    <tr>
                        <th scope="row" style="font-size: 36px; width: 150px;">비밀번호</th>
                        <td style="text-align: right;"><input type="password" id="password" placeholder="password" style="width: 100%; height: 50px;"></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" id="login" onclick="">로그인</button>

        </div>

        <hr class="my-3">
        <ul class="find_wrap">
            <li><a href="">아이디 찾기</a></li>
            <li><a href="">비밀번호 찾기</a></li>
            <li><a href="http://localhost:3000/signup">회원가입</a></li>
        </ul>


    </div>

    <script>

        
    </script>

</body>
</html>