h1 {
    margin-bottom: 1rem;
    text-align: center;
}

.title {
    margin-top: 100px;
    font-family: 'Oswald', sans-serif !important;
    font-size: 50px;
}

.container {
    max-width: 546px;
}

.jumbotron {
    background-color: rgb(167, 223, 255);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    border-radius: 20px;
}

ol, ul, li {
    list-style: none;
}

.find_wrap {
    text-align: center;
    padding-inline-start: 0px;
}

.find_wrap li{
    position: relative;
    display: inline-block;
}

.find_wrap li+li{
    padding-left: 28px;
}

.find_wrap li+li::before{
    content: '';
    position: absolute;
    top: 3px;
    left: 12px;
    width: 1px;
    height: 12px;
    border-radius: 0.5px;
    background-color: #dadada;
}

#login {
    width: 440px;
    margin: 12px 6px;
}

a{color: black;}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: underline;}